.container{
    /* width: 10vw; */
    /* justify-content: end;  */
    background-color: antiquewhite;
    margin: 50px ;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    flex-direction: column;
    box-shadow: 10px 10px rgb(146, 134, 146);
}

.container h2 {
    text-align: center;
}

.btnParent {
    justify-content: space-between;
    display: flex;
}

.btn {
    cursor: pointer;
    padding: 10px;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
.btn:hover {
    color: #fff;
}

.img {
   
}