.header {
    display: flex;
    height: 80px;
    background-color: #0081c9;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.container {
    height: 100px;
    margin-left: 60px;
    margin-right: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-between;
    
}
.flex {
    display: flex;
    margin-left: 100px;
}

.flex li {
    margin-left: 30px;
    list-style: none;
    padding: 5px 10px 10px;
    border-radius: 10px;
}
.flex li a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    transition: 0.6 sec;
}

.flex li:hover{
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 3px black;
    border-radius: 10px;
    color: black;
}
.cart:hover {
    color: rgb(40, 54, 54);
}
.cartsection:hover {
    background-color: #02a6ff;
    /* padding: 12px 15px; */
}

.cart {
    border: 1px solid white;
    align-items: center;
    color: #fff;
    margin-right: 0px;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(86,204,242);
}

.toggle {
    position: absolute;
    border: 1px solid gray;
    background-color: aliceblue;
    border-radius: 1px;
    top: 100%;
    right: 4%;
    height: 600px;
    width: 800px;
    overflow-y: scroll;
}

.cartsection {
    border: 1px solid rgb(114, 111, 111);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 11px;
    padding-block: 3px;
    background-color: #0081c9;
}

.cartqty {
    padding: 6px 8px;
    background-color: aliceblue;
    border-radius: 80%;
}